In [8]:
import numpy
import pandas
sample_array = numpy.array([1,2,3,4,5])
sample_df=pandas.DataFrame({
    'col1':sample_array,
    'col2':sample_array * 2,
    'col3':["A","B","C","D","E"]
})
sample_df

   col1  col2 col3
0     1     2    A
1     2     4    B
2     3     6    C
3     4     8    D
4     5    10    E

# JupyterNotebook 使ってみる #
## Python ##
1. 統計学
1. TensorFlow
## Markdown ##